@import ../../../index

button
  border: none
  background-color: $controls-background

.control-elem
  display: flex
  align-items: center
  justify-content: space-evenly
  flex-direction: column
  color: $controls-color
  font-size: 14px
  font-weight: 600
  width: 200px
  transition: all 0.2s ease

svg path
  stroke: inherit
  stroke-width: inherit
  fill: inherit

svg
  fill: $controls-color
  width: 50px

.control-elem:hover
  color: $active-color
  fill: $active-color
  background-color: #e4e4e4

.active
  color: $active-color

.active > svg
  fill: $active-color
