@import index

body
  margin: 0
  font-family: $font-family
  font-size: $primary-font-size
  color: $primary-color

main
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto
  width: $content-width
  height: 100vh
  background-color: #fcfcfc
